In [1]:
cd

C:\Users\saina

In [2]:
import datetime
print(datetime.datetime.now())

2024-11-17 12:26:58.114640

In [3]:
import pandas as pd
import wrds

In [4]:
conn=wrds.Connection()

Enter your WRDS username [saina]: sainarra
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  n

You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [5]:
info_crsp=conn.get_table(library='crsp', table='stocknames', columns =['siccd', 'permno', 'ticker','comnam', 'cusip','namedt'])

In [6]:
info_crsp

       siccd  permno ticker                     comnam     cusip      namedt
0       3990   10000  OMFGA  OPTIMUM MANUFACTURING INC  68391610  1986-01-07
1       4920   10001   GFGC         GREAT FALLS GAS CO  36720410  1986-01-09
2       4920   10001   EWST            ENERGY WEST INC  36720410  1993-11-22
3       4920   10001   EWST            ENERGY WEST INC  36720410  2008-02-05
4       4920   10001   EGAS                 ENERGY INC  36720410  2009-08-04
...      ...     ...    ...                        ...       ...         ...
80785   9999   93433   VLTC               VOLTARI CORP  92870X30  2013-04-24
80786   9999   93434   SANW              S & W SEED CO  78513510  2010-06-14
80787   6163   93435   SCEI      SINO CLEAN ENERGY INC  82936G20  2010-06-14
80788   9999   93436   TSLA           TESLA MOTORS INC  88160R10  2010-06-29
80789   9999   93436   TSLA                  TESLA INC  88160R10  2017-02-02

[80790 rows x 6 columns]

In [7]:
XOM_data=info_crsp[info_crsp['ticker']=='XOM']
print(XOM_data)

      siccd  permno ticker            comnam     cusip      namedt
4476   2911   11850    XOM  EXXON MOBIL CORP  30231G10  1999-12-01
4477   1311   11850    XOM  EXXON MOBIL CORP  30231G10  2016-12-19
4478   2911   11850    XOM  EXXON MOBIL CORP  30231G10  2019-09-11

In [8]:
# Format
df= pd.DataFrame(XOM_data)

In [9]:
df['namedt']= pd.to_datetime(df['namedt'])

In [10]:
df

      siccd  permno ticker            comnam     cusip     namedt
4476   2911   11850    XOM  EXXON MOBIL CORP  30231G10 1999-12-01
4477   1311   11850    XOM  EXXON MOBIL CORP  30231G10 2016-12-19
4478   2911   11850    XOM  EXXON MOBIL CORP  30231G10 2019-09-11

In [11]:
df['namedt'].info()

<class 'pandas.core.series.Series'>
Index: 3 entries, 4476 to 4478
Series name: namedt
Non-Null Count  Dtype
--------------  -----
3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 48.0 bytes

In [12]:
XOM_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 4476 to 4478
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   3 non-null      int64
 1   permno  3 non-null      int64
 2   ticker  3 non-null      object
 3   comnam  3 non-null      object
 4   cusip   3 non-null      object
 5   namedt  3 non-null      object
dtypes: int64(2), object(4)
memory usage: 168.0+ bytes

In [13]:
# Duplicates
d=XOM_data
d.duplicated()

4476    False
4477    False
4478    False
dtype: bool

In [14]:
d.duplicated(['permno', 'namedt'])

4476    False
4477    False
4478    False
dtype: bool

In [15]:
df_sorted = df.sort_values(by=['permno', 'namedt'])

In [16]:
print("Sorted DataFrame based on 'permno' and 'namedt':\n", df_sorted)

Sorted DataFrame based on 'permno' and 'namedt':
       siccd  permno ticker            comnam     cusip     namedt
4476   2911   11850    XOM  EXXON MOBIL CORP  30231G10 1999-12-01
4477   1311   11850    XOM  EXXON MOBIL CORP  30231G10 2016-12-19
4478   2911   11850    XOM  EXXON MOBIL CORP  30231G10 2019-09-11

In [17]:
df = pd.DataFrame(XOM_data)
df = df.drop_duplicates(keep='last')
df = df.drop_duplicates(subset=['permno', 'namedt'], keep='last')
duplicates_columns = df.duplicated()
if duplicates_columns.any():
    print("There are duplicates across all columns.")
else:
    print("There are no duplicates across all columns.")

There are no duplicates across all columns.

In [18]:
XOM_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 4476 to 4478
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   3 non-null      int64
 1   permno  3 non-null      int64
 2   ticker  3 non-null      object
 3   comnam  3 non-null      object
 4   cusip   3 non-null      object
 5   namedt  3 non-null      object
dtypes: int64(2), object(4)
memory usage: 168.0+ bytes

In [19]:
unique_companies = XOM_data['permno'].nunique()
print("Number of unique companies are:", unique_companies)

Number of unique companies are: 1

In [20]:
# 13) The data contains is cross-sectional data it contains information on distinct entities.
# Long format data represents each row a single observation or unique entity,
# The table has 4 unique entries. Wide format usually has one row per unique entity, with each varaible spread across multiple colums.
# here columns represent attributes of entities.
# A dataset closer to being "between long and wide" is often described as panel data 
# (cross-sectional time series), where each row includes data for one entity at one time point or condition.

In [21]:
# 14) .The data contains is cross-sectional data because each row uniquely identifies an entity using primary keys like permno and ticker.
# If the data contained multiple times for one entity, it would be time series data, or panel data
# if there were multiple entities observed multiple times.
# There is no time dimension here, so it's cross-sectional data.

In [22]:
# PART 2

In [23]:
permno_subset = info_crsp[['permno']]

In [24]:
crsp_out = pd.DataFrame(permno_subset)
crsp_out['eventdate'] = '2023-10-07'

In [25]:
crsp_out.head()

   permno   eventdate
0   10000  2023-10-07
1   10001  2023-10-07
2   10001  2023-10-07
3   10001  2023-10-07
4   10001  2023-10-07

In [26]:
# Define the path to where you want to download with .txt extension

file_path = r"C:\Users\saina\Downloads\crsp_out_data.txt"


crsp_out.to_csv(file_path, sep='\t', index=False)

print(f"File saved to {file_path}")

File saved to C:\Users\saina\Downloads\crsp_out_data.txt

In [27]:
fname=file_path +r'\crsp_out_data.txt'

In [28]:
import os

file_path = r"C:\Users\saina\Downloads\crsp_out_data.txt"
# Check if the directory exists
if not os.path.exists(os.path.dirname(file_path)):
    print(f"The directory {os.path.dirname(file_path)} does not exist.")
else:
    # Save the DataFrame to a TXT file
    crsp_out.to_csv(file_path, header=False, index=False, sep=' ')
    print(f"File saved to {file_path}")

File saved to C:\Users\saina\Downloads\crsp_out_data.txt

In [29]:
# Part 3

In [30]:
url = 'https://github.com/sainarra16/Petroleum/blob/main/Petroleum.csv?raw=True'

In [31]:
abcar=pd.read_csv(url)
abcar.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est
0,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100
1,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100
2,Market-Adjusted Model,10032,2023-10-09,-0.010968,0.015668,0.014639,21,100
3,Market-Adjusted Model,10044,2023-10-09,-0.147368,-0.129721,-0.121761,21,100
4,Market-Adjusted Model,10065,2023-10-09,-0.031953,-0.006610,-0.006345,21,100

In [32]:
abcar.duplicated(['permno'])

0       False
1       False
2       False
3       False
4       False
        ...
9109    False
9110    False
9111    False
9112    False
9113    False
Length: 9114, dtype: bool

In [33]:
abcar['permno'].nunique()

9114

In [34]:
crsp=abcar.merge(info_crsp,how="inner",on='permno')
crsp.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est,siccd,ticker,comnam,cusip,namedt
0,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100,2050,JJSF,J & J SNACK FOODS CORP,46603210,1986-02-04
1,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100,2052,JJSF,J & J SNACK FOODS CORP,46603210,2000-08-01
2,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,1380,MINT,CANYON STATE CORP,29402E10,1986-02-05
3,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,1380,MINT,AMERICAN PACIFIC MINT INC,29402E10,1986-06-25
4,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,3340,MINT,AMERICAN PACIFIC MINT INC,29402E10,1988-02-01

In [35]:
# 5) This is cross-sectional data as it captures different entities (by permno) at a same date (2022-11-30).
# Without multiple dates per entry, it doesn’t seems as panel data.

In [36]:
# Part 4

In [37]:
crsp.head(1)

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est,siccd,ticker,comnam,cusip,namedt
0,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100,2050,JJSF,J & J SNACK FOODS CORP,46603210,1986-02-04

In [45]:
crsp=abcar.merge(info_crsp,how="inner",on='permno')
crsp.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est,siccd,ticker,comnam,cusip,namedt
0,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100,2050,JJSF,J & J SNACK FOODS CORP,46603210,1986-02-04
1,Market-Adjusted Model,10026,2023-10-09,-0.088745,-0.065947,-0.063138,21,100,2052,JJSF,J & J SNACK FOODS CORP,46603210,2000-08-01
2,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,1380,MINT,CANYON STATE CORP,29402E10,1986-02-05
3,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,1380,MINT,AMERICAN PACIFIC MINT INC,29402E10,1986-06-25
4,Market-Adjusted Model,10028,2023-10-09,-0.201597,-0.195867,-0.175989,21,100,3340,MINT,AMERICAN PACIFIC MINT INC,29402E10,1988-02-01

In [46]:
abcar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9114 entries, 0 to 9113
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Model      9114 non-null   object
 1   permno     9114 non-null   int64
 2   evtdate    9114 non-null   object
 3   cret       9113 non-null   float64
 4   car        9113 non-null   float64
 5   bhar       9113 non-null   float64
 6   nrets      9114 non-null   int64
 7   nrets_est  9114 non-null   int64
dtypes: float64(3), int64(3), object(2)
memory usage: 569.8+ KB

In [40]:
# 4.) The relationship between part 1 and part 3 is one-to-onefor each permno in part 1 corresponds to a single entry in part 3,with no repetitions.
# As permno serves as unique idenifier.If permno appears multiple times in two datasets the relationship could be one-to-many or many-to-many.

In [41]:
# 5) In Step 1 of part 4, the merging strategy was chosen based on the nature of the data and
# the desired outcome of combining multiple datasets.

In [42]:
#  6) To classify data as cross-sectional, time series, or panel, we look at whether it includes multiple entities at one time (cross-sectional), repeated observations of one entity over time (time series),
# or multiple entities observed over time (panel data). 
# Cross-sectional data captures a snapshot of different entities at a single time. 
# Time series involves repeated observations of one entity over time, while panel data tracks multiple entities across multiple time points.
# The classification depends on how the data is structured.

In [47]:
# collecting compustat data

comp = conn.raw_sql('''select sich, gvkey, datadate, conm, revt, ni from comp.funda 
                        where datafmt = 'STD' and consol = 'C'and indfmt = 'INDL'
                        ''', date_cols=['datadate'])
#generating year
comp['year']=pd.DatetimeIndex(comp['datadate']).year

#linkage
url='https://github.com/kyoon5/shared/blob/main/link.csv?raw=true'
link=pd.read_csv(url)
link['gvkey'] = link['gvkey'].astype(str).str.zfill(6)
link['linkdt']=pd.to_datetime(link['linkdt'])
link['linkenddt']=pd.to_datetime(link['linkenddt'])

#adding permno for crsp data
comp2 = (
    comp.merge(link, how='inner', on='gvkey')  # Join on gvkey
    .query("datadate >= linkdt and (datadate <= linkenddt or linkenddt.isna())")  # Apply date range filter
    .assign(permno=lambda x: x['lpermno'])  # Select permno
    .sort_values(['gvkey', 'datadate'])  # Sort by gvkey and datadate
)

comp2=comp2[['sich', 'gvkey','datadate','conm','revt','ni','year','permno']]

In [48]:
crsp['year']=pd.DatetimeIndex(crsp['evtdate']).year

In [49]:
crsp_comp=crsp.merge(comp2,how="inner",on=['permno','year'])
crsp_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15991 entries, 0 to 15990
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Model      15991 non-null  object
 1   permno     15991 non-null  int64
 2   evtdate    15991 non-null  object
 3   cret       15991 non-null  float64
 4   car        15991 non-null  float64
 5   bhar       15991 non-null  float64
 6   nrets      15991 non-null  int64
 7   nrets_est  15991 non-null  int64
 8   siccd      15991 non-null  int64
 9   ticker     15381 non-null  object
 10  comnam     15991 non-null  object
 11  cusip      15991 non-null  object
 12  namedt     15991 non-null  object
 13  year       15991 non-null  int32
 14  sich       14474 non-null  float64
 15  gvkey      15991 non-null  object
 16  datadate   15991 non-null  datetime64[ns]
 17  conm       15991 non-null  object
 18  revt       14734 non-null  float64
 19  ni         14734 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(4), object(8)
memory usage: 2.4+ MB

In [50]:
import numpy as np

In [51]:
crsp_comp['energy']=np.where((crsp_comp['siccd']>= 2909)&(crsp_comp['siccd']<=2911),True,False)

In [52]:
crsp_comp['energy'].value_counts()

energy
False    15914
True        77
Name: count, dtype: int64

In [53]:
import pickle

In [54]:
# Save multiple DataFrames in a dictionary
data = {'info_crsp': info_crsp, 'crsp': crsp, 'crsp_comp':crsp_comp}

In [55]:
loc=r"C:\Users\saina\Downloads"

In [56]:
fname=loc+'\\assignment6.pkl'

In [57]:
with open(fname, 'wb') as file: 
    pickle.dump(data, file)